.small__card {
  @apply relative mb-0 pt-[20px] pr-[16px] pl-[88px] min-h-[114px] md:min-h-[134px] rounded-[8px] md:pt-[24px] md:pr-[24px] md:pb-[24px] md:pl-[88px];

  color: initial;
  box-shadow: 0px 2px 4px rgba(22, 25, 49, 0.05),
    0px 0px 1px rgba(22, 25, 49, 0.2), 0px 0.5px 0px rgba(22, 25, 49, 0.05);
  transition: box-shadow 0.25s ease-out, transform 0.25s ease-out,
    opacity 0.4s ease-out;

  &:hover:not(:active) {
    box-shadow: 0px 12px 24px rgba(22, 25, 49, 0.07),
      0px 4px 8px rgba(22, 25, 49, 0.05), 0px 1px 0px rgba(22, 25, 49, 0.05);
    transform: translateY(-2px);
    transition-duration: 0.1s;
  }

  &:active {
    transition-duration: 0s;
    opacity: 0.7;
  }
}

@media screen and (max-width: 640px) {
  .small__card {
    @apply shadow-none;

    &:hover:not(:active) {
      box-shadow: none;
    }
  }
}

[data-theme='dark'] .small__card {
  @apply md:bg-[#1B1C1D];

  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.05),
    0px 0px 1px rgba(255, 255, 255, 0.2),
    0px 0.5px 0px rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 640px) {
  [data-theme='dark'] .small__card {
    @apply shadow-none;
  }
}
