.big__card {
  @apply w-full flex flex-col sm:flex-row sm:h-[184px] sm:max-w-[542px] cursor-pointer rounded-[8px] relative bg-gradient-to-r from-white via-transparent to-[rgba(236,87,40,0.3)] outline-none;

  box-shadow: 0px 2px 4px rgba(22, 25, 49, 0.05),
    0px 0px 1px rgba(22, 25, 49, 0.2), 0px 0.5px 0px rgba(22, 25, 49, 0.05);
  transition: box-shadow 0.25s ease-out, transform 0.25s ease-out,
    opacity 0.4s ease-out;

  &:hover:not(:active),
  &:focus {
    box-shadow: 0px 12px 24px rgba(22, 25, 49, 0.07),
      0px 4px 8px rgba(22, 25, 49, 0.05), 0px 1px 0px rgba(22, 25, 49, 0.05);
    transform: translateY(-2px);
    transition-duration: 0.1s;
  }

  &:active {
    opacity: 0.7;
    transition-duration: 0s;
  }
}

@media screen and (max-width: 640px) {
  .big__card {
    &:not(:active) {
      box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1),
        0px 10px 16px rgba(0, 0, 0, 0.08), 0px 1px 0px rgba(0, 0, 0, 0.05);
    }
  }
}
