/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ec5728;
  --ifm-color-primary-dark: #e44614;
  --ifm-color-primary-darker: #d84213;
  --ifm-color-primary-darkest: #b23610;
  --ifm-color-primary-light: #ed6135;
  --ifm-color-primary-lighter: #ee6b41;
  --ifm-color-primary-lightest: #ef754e;
  --ifm-background-color: #ffffff;
  --ifm-background-surface-color: var(--ifm-background-color);
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-footer-background-color: var(--ifm-background-color);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ec5728;
  --ifm-color-primary-dark: #eb4d1b;
  --ifm-color-primary-darker: #e44614;
  --ifm-color-primary-darkest: #d84213;
  --ifm-color-primary-light: #ee6b41;
  --ifm-color-primary-lighter: #ef754e;
  --ifm-color-primary-lightest: #f39274;
  --ifm-background-color: #0d0d0e;
}
